body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

label {
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

input[type="text"], textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}


button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0277bd;
}

.post {
    margin-bottom: 20px;
    padding: 15px;
    border-bottom: 1px solid #ccc;
}

.button {
    padding: 10px 20px;
    background-color: #0288d1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 600px;
    margin-top: 10px;
}

button:hover {
    background-color: #0277bd;
}